body{
  background-image: url("https://pikwizard.com/photos/ca0e9e61d56db1461f0e402386b5c756-m.jpg");
  background-attachment: fixed;
}
h1{
  color:aqua;
  text-decoration: underline;
}


p {
  animation-duration: 2s;
  animation-name: slidein;
  text-decoration: transparent;
  color: whitesmoke;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}




