body{
  background-image: url("https://pikwizard.com/photos/2d287a7c569004af5c18005b9c9c228f-m.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color:aqua;
  text-decoration: underline;
  font-family: 'Itim', cursive;
}


p {
  animation-duration: 2s;
  animation-name: slidein;
  text-decoration: transparent;
  color: whitesmoke;
  font-family: 'Itim', cursive;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}




