body{
  background-image: url("https://pikwizard.com/photos/07cb84ac924ca6e47d7ac81d505b5ecf-m.jpg");
  background-color: chartreuses;
}
h1{
  color:aqua;
  text-decoration: underline;
}


p {
  animation-duration: 2s;
  animation-name: slidein;
  text-decoration: transparent;
  color: black;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


